{% extends 'layouts/master.html' %}

{% set title = "Home" %}

{% block css %}
<style>
    table { margin-bottom: 0px !important; }
    #sidebar, #slide {
        color: white;
        text-shadow: 0px 0px 4px white;
    }
    .s-box { color: #222; background: rgba(255,255,255,0.8); padding: 4px; margin-bottom: 10px; border: solid 2px white;border-radius: 4px }
    .huge { font-size: 2em; }
    .label { margin-left: -10px; color: #444; font-size: 1.2em; text-shadow: 0px 0px 3px white; }
    .satuan { font-size: 1em; display: block; }
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="height: 100vh; background-image: url({{ asset('img/bd_cengklik_1.jpg') }})">
    <div class="row">
        <div class="col-xs-12" style="background-color: rgba(255,255,255,0.5);">
            <h1><a href="/bendungan"><span style="color: white; text-shadow: 2px 2px 5px #666;">Ringkasan 33 Bendungan<br>Status: 28 Nov 2019 Pola: Batas Bawah</span></a></h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="s-box col-md-5">
                <table>
                    <tbody><tr>
                        <td rowspan="3" class="vol-title huge" style="vhigh: max; padding-right: 20px;">Volume<br>Tampungan</td>
                        <td style="border-bottom: solid 1px #888"><span style="z-index: -99; float: left;vertical-align: middle;" class="">Potensi</span><span class="huge" style="float: right;">561,094,000 M<sup>3</sup></span></td>
                    </tr>
                    <tr>
                        <td style="border-bottom: solid 1px #888"><span style="z-index: -99; float: left;vertical-align: middle;" class="">Realisasi</span><span class="huge" style="float: right;">18,795,840 M<sup>3</sup></span></td>
                    </tr>
                    <tr>
                        <td><span style="z-index: -99; float: left;vertical-align: middle;" class="">RTOW</span><span class="huge" style="float: right;"> 91,106 M<sup>3</sup></span></td>
                    </tr>
                </tbody></table>
            </div>
            <div class="col-md-7">&nbsp;</div>
        </div><!-- row-->
        <div class="row">
            <div class="s-box col-md-5">
                <table style="width: 100%" class="table table-bordered">
                    <tbody><tr>
                        <th colspan="2" style="text-align: center; border-bottom: solid 1px #999;"><span class="huge">Total Outflow</span></th>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 50%;border-right: solid 1px black;"><span style="z-index: -99; float: left;vertical-align: middle;" class="">RTOW</span><span class="huge"> 0.00</span> (M<sup>3</sup>/detik)</td>
                        <td class="text-center" style="width: 50%"><span style="z-index: -99; float: left;vertical-align: middle;" class="">Realisasi</span><span class="huge">0.49</span> (M<sup>3</sup>/detik)</td>
                    </tr>
                </tbody></table>
            </div>
            <div class="col-md-7">&nbsp;</div>
        </div>
        <div class="row">
            <div class="s-box col-md-5">
                <table style="width: 100%" class="table table-bordered">
                    <tbody><tr>
                        <th colspan="2" style="text-align: center; border-bottom: solid 1px #999;"><span class="huge">Total Inflow</span></th>
                    </tr>
                    <tr>
                        <td class="text-center" style="width: 50%;border-right: solid 1px black;"><span style="z-index: -99; float: left;vertical-align: middle;" class="">RTOW</span><span class="huge">-</span> (M<sup>3</sup>/detik)</td>
                        <td class="text-center" style="width: 50%"><span style="z-index: -99; float: left;vertical-align: middle;" class="">Realisasi</span><span class="huge">1</span> (M<sup>3</sup>/detik)</td>
                    </tr>
                </tbody></table>
            </div>
            <div class="col-md-7">&nbsp;</div>
        </div>
        </div><!-- container -->
        </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/id.js') }}"></script>
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script>
        $(document).ready(function() {
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });
    	     moment.locale('id');
          $('.hari').each(function (i, e) {
            console.log($(e).prepend(moment($(e).data('tgl')).fromNow()));
          });
          // $('#sejak').popover({
          //       html: true,
    		// 	placement: 'right',
          //       title: "Sejak ? hari",
          //       content: $('#sejakForm').html()
          // });

        });
    </script>
{% endblock %}
