{% extends 'layouts/master.html' %}

{% set title = "Bendungan" %}

{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="3" class="text-center align-middle">No</th>
                    <th rowspan="3" class="text-center align-middle">Nama Bendungan</th>
                    <th rowspan="3" class="text-center align-middle">Kondisi</th>
                    <th colspan="5" class="text-center align-middle">Data Teknis Bendungan</th>
                    <th colspan="9" class="text-center align-middle">Tanggal</th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center align-middle">Tampungan (Juta M3)</th>
                    <th rowspan="2" class="text-center align-middle">Irigasi (Ha)</th>
                    <th rowspan="2" class="text-center align-middle">Elevasi Puncak (M)</th>
                    <th rowspan="2" class="text-center align-middle">Elevasi Puncak Mercu (M)</th>
                    <th rowspan="2" class="text-center align-middle">Elevasi Air Minimum (M)</th>
                    <th rowspan="2" class="text-center align-middle">07 (M)</th>
                    <th rowspan="2" class="text-center align-middle">12 (M)</th>
                    <th rowspan="2" class="text-center align-middle">18 (M)</th>
                    <th rowspan="2" class="text-center align-middle">Vol (Juta M3)</th>
                    <!-- <th rowspan="2">TMA Banjir (Juta M3)</th> -->
                    <th colspan="2" class="text-center align-middle">Outflow (M3/det)</th>
                    <th rowspan="2" class="text-center align-middle">VNotch (L/det3)</th>
                    <th rowspan="2" class="text-center align-middle">Curah Hujan (mm)</th>
                </tr>
                <tr>
                    <th>Intake</th>
                    <th>Spillway</th>
                </tr>
            </thead>
            <tbody>
                {% for w in waduk %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path_for('bendungan.tma', {'id': w.id}) }}">{{ w.nama }}</a></td>
                        <td> - </td>
                        <td class="text-right">{{ w.volume|number_format(0, ',', '.') }}</td>
                        <td class="text-right">{{ w.lbi|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.elev_puncak|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.muka_air_max|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.muka_air_min|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.tma6|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.tma12|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.tma18|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.outflow_vol|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.outflow_deb|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.spillway_deb|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.debit|number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ w.curahhujan|number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/id.js') }}"></script>
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script>
        $(document).ready(function() {
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });
    	     moment.locale('id');
          $('.hari').each(function (i, e) {
            console.log($(e).prepend(moment($(e).data('tgl')).fromNow()));
          });
          // $('#sejak').popover({
          //       html: true,
    		// 	placement: 'right',
          //       title: "Sejak ? hari",
          //       content: $('#sejakForm').html()
          // });

        });
    </script>
{% endblock %}
