{% extends 'layouts/master.html' %}

{% set title = "Bendungan" %}

{% block content %}
    <h1>{{ waduk.nama }} Info</h1>
    <ul>
        <li>Elevasi Puncak : {{ waduk.elev_puncak }}</li>
        <li>Muka Air Normal : {{ waduk.muka_air_normal }}</li>
        <li>TMA : {{ waduk.tma }}</li>
        <li>Muka Air Minimal : {{ waduk.muka_air_min }}</li>
    </ul>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/id.js') }}"></script>
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script>
        $(document).ready(function() {
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });
    	     moment.locale('id');
          $('.hari').each(function (i, e) {
            console.log($(e).prepend(moment($(e).data('tgl')).fromNow()));
          });
          // $('#sejak').popover({
          //       html: true,
    		// 	placement: 'right',
          //       title: "Sejak ? hari",
          //       content: $('#sejakForm').html()
          // });

        });
    </script>
{% endblock %}
