{% extends 'layouts/master.html' %}

{% set title = "Bendungan" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ waduk.nama }} VNotch</h1>
        </div>
        <div class="col-md-6">
            <div class="btn-group" role="group" style="float: right">
                <a class="btn btn-primary" href="{{ path_for('bendungan.tma', {'id': waduk.id}) }}">TMA</a>
                <a class="btn btn-primary" href="{{ path_for('bendungan.operasi', {'id': waduk.id}) }}">RTOW</a>
                <a class="btn btn-primary disabled" href="{{ path_for('bendungan.vnotch', {'id': waduk.id}) }}">VNotch</a>
                <a class="btn btn-primary" href="{{ path_for('bendungan.piezo', {'id': waduk.id}) }}">Piezometer</a>
            </div>
        </div>
    </div>
    <div>
        <canvas id="curahHujanChart" style="width: 100%; height: 300px; border: solid 1px #eee;" class="chartjs-render-monitor"></canvas>
    </div>
    <div>
        <canvas id="vnotchChart" style="width: 100%; height: 300px; border: solid 1px #eee;" class="chartjs-render-monitor"></canvas>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/id.js') }}"></script>
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        $(document).ready(function() {
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          });
    	     moment.locale('id');
          $('.hari').each(function (i, e) {
            console.log($(e).prepend(moment($(e).data('tgl')).fromNow()));
          });
          // $('#sejak').popover({
          //       html: true,
    		// 	placement: 'right',
          //       title: "Sejak ? hari",
          //       content: $('#sejakForm').html()
          // });
        });
        let options = {
            responsive: true,
            legend: {
                labels: {
                    usePointStyle: true,
                },
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            tooltips: {
                position: "nearest",
                mode: "index",
                intersect: false,
                callbacks: {
                    label: (item, data) => `${data.datasets[item.datasetIndex].label} : ${item.yLabel} cm`,
                },
            },
        };
        let ctx = document.getElementById('curahHujanChart').getContext('2d');
        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ vnotch.tanggal|raw }}],
                datasets: [
                    {
                        label: "Curah Hujan",
                        data: [{{ vnotch.ch|raw }}],
                        backgroundColor: 'rgba(255,0,0,0.5)',
                        borderColor: 'rgba(255,0,0,1)',
                        borderWidth: 1,
                        fill: false,
                        pointStyle: 'round'
                    }
                ]
            },
            options: options
        });

        let ctx_vn = document.getElementById('vnotchChart').getContext('2d');
        let vnChart = new Chart(ctx_vn, {
            type: 'line',
            data: {
                labels: [{{ vnotch.tanggal|raw }}],
                datasets: [
                    {% for i, vnn in vnotch.vn %}
                        {
                            label: "{{ i }}",
                            data: [{{ vnn|raw }}],
                            backgroundColor: 'rgba(255,0,255,0.5)',
                            borderColor: 'rgba(255,0,255,1)',
                            borderWidth: 1,
                            fill: false,
                            pointStyle: 'round'
                        }
                    {% endfor %}
                ]
            },
            options: options
        });
    </script>
{% endblock %}
